html, body{
  height:100%;
  overflow-y:auto;
}




.neuralbrief-container{
  min-height:100vh;
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;

  padding:80px 120px;
  gap:60px;

  color:white;
}
.neuralbrief-left{
  width:520px;
}
/* LEFT PANEL */

.neuralbrief-left{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.neuralbrief-title{
  font-size:60px;
  font-weight:800;
  letter-spacing:3px;
}

.neuralbrief-subtitle{
  margin-top:10px;
  margin-bottom:30px;
  opacity:0.8;
  max-width:500px;
}

/* TEXT INPUT */

.neuralbrief-input{
  width:500px;
  height:200px;
  padding:20px;
  border-radius:12px;
  border:none;
  font-size:16px;

  background:rgba(255,255,255,0.08);
  color:white;
  backdrop-filter: blur(10px);
  resize:none;
}

/* BUTTON */

.neuralbrief-button{
  margin-top:20px;
  width:220px;

  padding:14px 30px;
  border:none;
  border-radius:10px;

  background:linear-gradient(135deg,#ffd700,#ff9d00);
  color:black;
  font-weight:700;
  cursor:pointer;

  transition:0.25s ease;
}

.neuralbrief-button:hover{
  transform:scale(1.05);
  box-shadow:0 0 12px rgba(255,215,0,0.6);
}


/* RIGHT PANEL */

.neuralbrief-right{
  flex:1;
  display:flex;
}

/* SUMMARY CARD */

.summary-card{
  width:100%;
  max-height:75vh;

  padding:35px 40px;
  border-radius:14px;

  background:rgba(0,0,0,0.45);
  border:2px solid rgba(255,255,255,0.15);

  backdrop-filter: blur(10px);

  overflow-y:auto;
}

.summary-title{
  margin-bottom:15px;
  letter-spacing:1px;
}

.summary-text{
  line-height:1.7;
  color:#f2f2f2;
}

.summary-placeholder{
  opacity:0.6;
}

/* SECTION TITLES */

.section-title{
  margin-top:25px;
  margin-bottom:8px;
  font-size:18px;
  font-weight:700;
  letter-spacing:1px;
}

/* COLOR CODING */

.section-title.summary{
  color:#4dabff;
}

.section-title.emotion{
  color:#ff6b6b;
}

.section-title.topics{
  color:#51cf66;
}

.section-title.keywords{
  color:#ffd43b;
}

.section-title.readability{
  color:#b197fc;
}

/* TEXT */

.summary-text{
  margin-bottom:12px;
  line-height:1.6;
  color:#f2f2f2;
}